
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


:root{
    --primary: #FF6F0F;
    --secondary: #FFF0E6;
    --light: #F8F8F9;
    --dark: #001D23;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}





