.custombtn{
  padding: 13px;
  border: 1px solid #ff6f0f;
  color: #ff6f0f  ;
  background-color: white;
  transition: 0.5s;

}
.custombtn span{
  background-color: #ff6f0f;
  padding: 7px 11px;
  margin-left: 10px ;
}
.custombtn span i{
  color: white;
}
.custombtn:hover {
  background-color: #ff6f0f;
  color: white;
}