.about-img{
  position: relative;
  top: 70px;
}
.about-img2{
  position: absolute;
  top: 30px;
  right: -30px;
  border: 10px solid white;
  width: 210px;
}
.orange{
  color: #ff6f0f;
}

.text-Box{
  border-bottom: 5px solid #ff6f0f;
  border-radius: 8px;
}
.btn-readmoress {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--primary);
  padding: 4px;
  width: fit-content;
  height: max-content;
  transition: 0.5s;
}
.btn-readmoress:hover{
  background-color: white;
  color: #ff6f0f;

}
.btn-readmoress:hover .textlearnmore{
  color: #ff6f0f;
}
.btn-readmoress span span{
  background-color: white;
  padding: 6px 1px;
  border-radius: 50%;
  
}
.btn-readmoress span i {
  font-size: 20px 30px;
  padding: 10px;
  color: #ff6f0f;
  border-radius: 50%;
}
.textlearnmore{
  color: white;
  
}

@media only screen and (max-width: 600px) {

  .about-img2{
    top: 15px;
    right: 10px;
    
  }
  .about-img{
    
    
  }
  .about-img1Con{
    height: 400px;
    overflow: hidden;
    
  }
}