.backgroundImg{
    width: 105%;
    position: relative;
    bottom: 60px;
    left: -20px;
    opacity: 0.2;
}
.backimgCon{
    height: 400px;
    background-color:#001d23;
    
}
@media only screen and (max-width: 850px) {
.backgroundImg{
    left: -15%;

    width: 150%;
}

}
@media only screen and (max-width: 600px) {
.backgroundImg{
    left: -25%;
    width: 175%;
}

}