@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #ff6f0f;
  --secondary: #fff0e6;
  --light: #f8f8f9;
  --dark: #001d23;
  font-family: "Inter", sans-serif;
}
section {
  padding-top: 200px;
}
.small-text {
  color: var(--primary);
  background-color: #fff0e6;
  width: fit-content;
  margin: auto;
  padding: 5px 8px;
  border-radius: 16px;
  font-size: 0.9rem;
  font-family: "Inter";
}
.small-text p {
  margin: 0;
}
.motto {
  padding: 1rem 0px 1rem 0px;
}
.motto h4 {
  font-weight: 700;
  font-family: "Saira", sans-serif;
}
.cause-card {
  background-color: #f8f8f9;
  margin: 10px;
  border-top: 7px solid var(--primary);
}
section {
  margin: auto;
}
.cat-text {
  background-color: #ff6f0f;
  width: fit-content;
  margin: auto;
  padding: 4px;
  border-radius: 0px 0px 5px 5px;
  color: white;
}
.title-text {
  color: #000;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 6px;
}
.description-text {
  color: gray;
  margin: 0;
  padding: 0;
}
.donation-goal {
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.amount-text {
  font-size: 0.9rem;
  padding: 5px;
  margin: 0px;
  padding: 10px;
}
.goal-bar {
  background-color: rgb(196, 194, 194);
  height: 5px;
  position: relative;
  margin: 10px;
  margin-top: 3px;
  color: white;
}
.percent {
  position: absolute;
  top: -5px;
  right: 10%;
  background-color: var(--primary);
  width: fit-content;
  height: min-content;
  font-size: 0.7rem;
  margin: none;
  padding: 0px 3px 0px 3px;
  font-size: 10px;
}
.percent-container {
  background-color: var(--primary);
  height: 5px;
  width: 90%;
}
.btn-readmore {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
  padding: 8px;
  left: 35%;
  top: -30%;
  height: 0;
}
.btn-readmore:hover {
  color: white;
  background-color: var(--primary);
  transition: 0.5s;
}
.btn-readmore span {
  background-color: #ff6f0f;
  color: white;
  padding: 2px 5px 3px 5px;
}
.bg-btn {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: collapse;
}
.cause-card:hover .btn-readmore {
  transform: translateY(4.8rem);
  transition: 1.2s;
  height: fit-content;
}
.cause-card:hover .bg-btn {
  visibility: visible;
  height: fit-content;
  transition: 1.2s;
  height: 100%;
}
.text-container {
  z-index: 10;
}
.container-readmore {
  position: relative;
}
