.contact_page{
    display: grid;
}
.contact_title{
    color: #FF6F0F;
    background-color: #FFF0E6 ;
}
.contact_content{
    color: #001D23;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Saira",sans-serif;
}
.contact_description{
    font-size: 17px;
}
.download_link{
    color: #FF6F0F;
    text-decoration: none;
}
.download_link:hover{
    color: #c2703a;
}
.form-control:focus{
    box-shadow: none;
    border: 3px solid #FF6F0F;
}