
.form{
    width: 700px;
    display: block;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    padding: 20px;
}
.wholedonate{ 
    position: relative;
    background-color: #01151b;
}
.donate-background-img{
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.3;

}
.donate-container{
    position: relative;
    z-index: 99;
}



@media only screen and (max-width: 768px) {
    .donate-container{
        display: flex;
        flex-direction: column;
    }
    .form-containers{
        width: 80%;
    }
    .donate-background-img{
        width: 330%;
    }
  }