.topnavbar_container{
    font-size: 15px;
    font-weight: 400;
    color: rgb(149, 146, 146);
    background-color: transparent;
    position: relative;
    z-index: 99;
    border-bottom: 0.1px solid rgb(71, 71, 71);
}

.nav_icon_list i{
    font-size: 20px;
}
.nav_icon_list i:hover{
    cursor: pointer;
}
.nav-name{
    font-weight: 600;
    font-size: 40px;
    color: #FF6F0F;
}
.nav-name-2{
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.navpage{
    font-weight: 500;
    color: var(--primary);
}
.navlistp:hover{
    color: #FF6F0F;
}
.donatenow{
    color: #FF6F0F;
    border: 1px solid #FF6F0F;
    padding: 15px 5px;
    transition: 0.5s;
    border-radius: 7px;
    
}
.donatenow:hover{
    background-color: #FF6F0F;
    color: rgb(255, 255, 255);
}

.isScroll{
    background-color: #001d23;
    
}
.navBackground{
    transition: 0.5s;
    
}


@media only screen and (max-width: 992px) {
   .navlinkContainer{
    background-color: #001d23;
   }
   .donatenow{
    display: none;
   }
}

