.orange{
    color:#FF6F0F;
}
.upperpart{
    position: relative;   
}
.upperpart img{
    transition: 0.5s;
}
.outer-belowpart{
    height: 100px;
    background-color: #f8f8f9;

}
.belowpart{
    position: relative;
    background-color: #f8f8f9;
    z-index: 5;
    transition: 0.5s;
}


.card_container {
    position: relative;
    cursor: pointer;
}
.social_icon_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.social_icon_container i{
    font-size: 20px;
    padding: 7px;
    color: #FF6F0F;
    margin: 0px 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 10px;
}
.card_container i:hover{
   color: white;
   background-color: #FF6F0F;
}
.card_container:hover i{
    opacity: 1;
}
.card_container:hover .upperpart img{
    transform: translateY(-30px);
}
.card_container:hover .belowpart {
    transform: translateY(-60px);
    
}

