.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  top: 33%;
}
.carousel-caption h1 {
  font-size: 50px;
}
.carousel-caption p {
  color: #9ab3b7;
  font-size: 20px;
}
.learn-more-btn {
  background-color: rgb(255, 140, 0);
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  transition: 0.5s;
}
.learn-more-btn:hover {
  border: 1px solid rgb(255, 140, 0);
  color: rgb(255, 140, 0);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  padding: 20px;
  background-color: #021f26;
}
