@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #ff6f0f;
  --secondary: #fff0e6;
  --light: #f8f8f9;
  --dark: #001d23;
  font-family: "Inter", sans-serif;
}
.text-motto {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.card-testimonial span {
  margin: 20px;
  width: fit-content;
  color: var(--primary);
  visibility: hidden;
}
.left-arrow-test:hover,
.right-arrow-test:hover {
  color: var(--dark);
  transition: 0.5s;
}
.t-arrow:active [class^="t-arrow-"] {
  color: var(--primary);
}
.set-arrow-right {
  position: absolute;
  top: -60%;
  right: 20%;
}
.set-arrow-left {
  position: absolute;
  left: 20%;
}
